
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#map-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 18px;
  border-radius: 6px;
  font-family: 'League Mono', monospace;
  z-index: 10; 
}

#map-text p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.414);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#overlay.show {
  visibility: visible;
  opacity: 1;
}

.overlay-content {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  color: #fff;
  font-family: 'League Mono', monospace;
}


.overlay-content a {
  color: #90cdf4;
  text-decoration: underline;
}
